
@media only screen and (min-width: 1920px) and (max-height: 1080px) {
	.container {
		max-width: 1336px !important;
	}
	nav.navbar {
	max-height: 80px;
	width: 100%;
	margin-top: auto;
	
	}
}

@media only screen and (min-width: 1024px) and (max-height: 768px) {
.container, .container-md{
  max-width: 768px;
}
}

@media only screen and (min-width: 768px) and (max-height: 1024px) {
  
 
}

@media only screen and (min-width: 375px) and (max-height: 667px) {

}
/* Kopfzeile auf 80 pixel setzen */


/*alle bilder im card(flexbox) gleiche grösse machen */

.imgcard {
	width: 100%;
	height: 250px;
}

.imgshape{
  border-radius:30px 30px 0px 0px;
}

/*grösse der schrift im card (flexbox)*/

/*footer am boden der webseite fixen */
#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}


/*Bild angepasst */

.hintergrundbild {
	background-image: url(../images/Banner2.PNG);
	background-size: cover;
	width: 100%;
	height: 720px;
	padding: 10px;
	position: absolute;
}
/*Card decks verschoben */


.punkt1{
position: absolute;
height: 2%;
width: 1%;
background-color: grey;
margin-left: 51%;
margin-top: 15%;
border-radius: 50%;
}

.punkt2{
  position: absolute;
  height: 2%;
  width: 1%;
  background-color: grey;
  margin-left: 53%;
  margin-top: 15%;
  border-radius: 50%;
}
  .punkt3{
    position: absolute;
    height: 2%;
    width: 1%;
    background-color: grey;
    margin-left: 55%;
    margin-top: 15%;
    border-radius: 50%;
}

.logo{
	height: 70px;
	width: 140px;
	
}

	
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 300px;
  position: relative;
  margin: auto;
  background: linear-gradient(90deg, rgb(0, 123, 255), rgb(0, 22, 146));
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 10px 12px;
  position: absolute;
  bottom: 8px;
  width: 10em;
  text-align: center;
  line-height: 200px;
  margin-left: 45%;
  margin-right: 40%;
  overflow:hidden;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 280px;
  background-color: rgb(5, 83, 167);
  border-radius: 50%;
  border-width: 2px;
  display: inline-block;
  transition: background-color 0.8s ease;
}

.active, .dot:hover {
  background-color: white;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.font-color{
	color: rgb(0, 123, 255);
}

.text-kurse{
	
	width: 500px;
	height: 200px;
}
.text-Spezialangebote{
	
	width: 800px;
	height: 200px;
}

.labelshape{
  border-radius:0px 20px 20px 20px; 
  border-color:rgb(0, 123, 255); 
  border-width: 2px;
}
/* The 3 Card buttons */
.btn_card1{
  border-color:rgb(166, 227, 11); 
  border-radius:20px 0px 20px 0px; 
  width: 150px;
  padding:5px;
  float:right !important;
  background-color: rgb(166, 227, 11)
}
  .btn_card2{
    border-color:rgb(209, 17, 17); 
    border-radius:20px 0px 20px 0px; 
    width: 150px;
    padding:5px;
    float:right !important;
    background-color: rgb(209, 17, 17);
  }
    .btn_card3{
      border-color: rgb(194, 8, 194); 
      background-color: rgb(194, 8, 194); 
      width: 150px;
      padding:5px;
      float:right !important;
      border-radius:20px 0px 20px 0px; 
      
    }

/* ------The 3 Card sizes -----*/

.card-sizing{
  max-width: 500px; 
  border-radius:30px; 
  height:570px;
}
.abstand{
  margin-top: 100px;
}

/* ------The 4 Cards -----*/

.card-4-sizing{
  max-width: 570px; 
  border-radius:20px;
}

.bnts_card4{
  border-radius:20px 0px 20px 0px; 
  margin-left:85%;
  width: 150px;
  padding:5px;
  float:right !important;
}

.card-4-img{
  border-radius:20px 0px 20px 0px; 
  height:200px;
}
